
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 6em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    letter-spacing: 3px;
}

section {
    margin-top: 17%;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}

button {
    background-color: rgb(255, 255 , 255);
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding: 0.5em 1em;
    height: 2em;
    font-weight: 646;
    text-decoration: none;
    border: none;
    text-align: center;
    border: solid 1.7px transparent;
    border-radius: 7px;
    font-family: 'Alegreya', serif;
}

button:active {
    transform: translateY(2px);
    filter: saturate(150%);
}

button:hover {
    color: blanchedalmond;
    border-color: currentColor;
    background-color: black;
    cursor: pointer;
}

.chapter {
    display: inline;
    margin-left: 2.646em;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.number {
    display: inline-block;
    margin-left: 0.7em;
    width: 1em;
    border-bottom: 3px solid blanchedalmond;
}